@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  /*position: relative;*/
}

.content {
  /*margin-left: 250px; !* Shift the content to the right by the width of the sidebar *!*/
  padding-left: 20px; /* Optional: Add some padding to the content */
  min-height: 100%;
}

.sidebar {
  height: 100vh;
  min-height: 100%;
  position: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Loader style */
/* From Uiverse.io by barisdogansutcu */
/*svg.loader {*/
/*  width: 3.25em;*/
/*  transform-origin: center;*/
/*  animation: rotate4 2s linear infinite;*/
/*}*/

/*circle {*/
/*  fill: none;*/
/*  stroke: hsl(214, 97%, 59%);*/
/*  stroke-width: 2;*/
/*  stroke-dasharray: 1, 200;*/
/*  stroke-dashoffset: 0;*/
/*  stroke-linecap: round;*/
/*  animation: dash4 1.5s ease-in-out infinite;*/
/*}*/

/*@keyframes rotate4 {*/
/*  100% {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@keyframes dash4 {*/
/*  0% {*/
/*    stroke-dasharray: 1, 200;*/
/*    stroke-dashoffset: 0;*/
/*  }*/

/*  50% {*/
/*    stroke-dasharray: 90, 200;*/
/*    stroke-dashoffset: -35px;*/
/*  }*/

/*  100% {*/
/*    stroke-dashoffset: -125px;*/
/*  }*/
/*}*/

/* Door Style */
.door {
  width: 8em;
  height: 6em;
  background-color: darkslategray;
  /*border-radius: 1em;*/
}

.top-doors .left-door {
  border-top-left-radius: 1em;
}

.top-doors .right-door {
  border-top-right-radius: 1em;
}

.bottom-doors .left-door {
  border-bottom-left-radius: 1em;
}

.bottom-doors .right-door {
  border-bottom-right-radius: 1em;
}

.back-doors {
  background-color: inherit;
  border-radius: 1.5em;
}

.side-door {
  width: 4em;
  height: 12em;
  background-color: darkslategray;
  border-radius: 1em;
  margin-right: -3em !important;
}

@media (max-width: 600px) {
  .door {
    width: 7em;
    height: 5em;
  }

  .side-door {
    width: 3em;
    height: 10em;
    margin-right: -2em !important;
  }
}

@-moz-keyframes flash {
  from { background-color: rgb(168, 212, 226); }
  to { background-color: rgb(185, 223, 231); }
}

@-webkit-keyframes flash {
  from { background-color: rgb(168, 212, 226); }
  to { background-color: rgb(185, 223, 231); }
}

@keyframes flash {
  from { background-color: rgb(160, 208, 223); }
  to { background-color: rgb(199, 236, 243); }
}

.closed {
  background-color: gray;
}

.unlocked {
  background-color: lightblue;
  animation: flash 0.5s alternate infinite;
}

.opened {
  background-color: lightsalmon;
}

.deactivated {
  background-color: red;
}

/* Progress Bar */
.progressbar{
  position: relative;
  width: 100%;
  height: 1em;
}

.wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bar{
  height: 1em;
  border-radius: 10px;
  transition: width 0.5s ease-out;
}

.bar-color{
  background-color:#71aad8;
}

.underbar{
  width: 100%;
  height: 1em;
  margin-bottom: -1em !important;
  border-radius: 10px;
}

.underbar-color{
  background-color: #c8cacc;
}

.dots{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dots>div{
  z-index: 1;
  height:2em;
  width:2em;
  border-radius:1em;
  margin-top: -1em;
  margin-bottom: -1.7em;
  transition: background-color 2.5s ease-out;
}

.state-reached{
  background-color: #4989bd;
}
.state-pending{
  background-color: #c8cacc;
}

/* Battery Monitor */
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.bttr-mntr-vertical {
  display: inline-block;
  margin-top: 25%;
  width: 100px;
  height: 80px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.bttr-mntr-vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
  height: 100%
}